@import url(global.css);
/* Main */

/* Hero Header */
.container-hero-header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/images/hero-bg.jpg") no-repeat center center/cover;
  padding: 1rem 0;
  align-items: center;
  gap: 4rem;
}

/* Header */
.container-header {
  width: 80vw;
  padding: 1rem 0;
  color: var(--color-text-white);
  justify-content: space-between;
  align-items: center;
}
.container-header a {
  text-decoration: none;
  color: var(--color-text-white);
}
.container-header .icon {
  gap: 1.125rem;
}
.container-header .icon .circle-border {
  border-radius: 50%;
  border: solid 2px var(--color-text-white);
  padding: 1rem;
  transition: border 0.3s;
}
.container-header .icon .circle-border:hover {
  border: solid 2px var(--color-primary);
}
.container-header .primary-navigation {
  gap: 2rem;
}

/* Hero Section */
.container-hero {
  padding: 2rem 0;
}
.content-hero {
  width: 80vw;
  gap: 3rem;
  color: var(--color-text-white);
}
.content-hero p {
  max-width: 50%;
}
.content-hero a {
  text-decoration: none;
  color: var(--color-text-white);
}
.content-hero .btn-start-exploring {
  margin-top: 1rem;
  max-width: fit-content;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
